/* ADD YOUR STYLES HERE */
/*	HORIZONTIALLY SPACED */
.ex6 {
	display: inline-block;
	padding:20px;
	vertical-align: top;
}
.div-image {
	line-height: 250px;
}
/* VERTICALLY SPACED */
.ex7 {
	display: inline-block;
	vertical-align: middle;
}
.grandpa {
	line-height: 400px;
}
.parent {
	vertical-align: middle;
	display: inline-block;
	line-height: initial;
}
/* HORIZONTAL LIST */

.horizontal li{
	display: inline;
	list-style-type: none;
	margin: -2px;
}

/* BUTTONS */

.btn {
	background-color: #ff8080;
	border-radius: 5px;
	color: white;
	margin:auto;
	text-align: middle;
	text-decoration: none;
	display: inline-block;
	border:none;
}
.large {
	font-size: 27px;
	padding:20px 60px;	
}
.medium {
	font-size:16px; 
	padding:13px 50px;
}
.small {
	font-size: 16px;
	padding:4px;
}
.two {
	font-size: 16px;
	padding:10px 50px;
}
/* NAVIGATION */
.nav {
	background-color: #ff8080;
	border-radius: 5px;
	color: white;
	margin:10px 30px;
	text-align: middle;
	text-decoration: none;
	display: inline-block;
	border:none;
	padding:0;
}
.nav li {
	list-style-type: none;
	font-size: 16px;
	display: inline-block;
	padding: 10px 30px;
	border:none;
	
}
.nav li a {
	color: white;
	text-decoration: none;
	}
	/* PAGINATION */

.pages li{
	display: inline-block;
	text-decoration: none;
	padding:4px 10px;
	margin-left: 3px;
	margin-right: 3px;
	color: #ff8080;
	padding-bottom: 3px;
	border-bottom: 3px solid #ff8080;
	font-size: 20px;
}
.pages li a{
	color: #ff8080;
	font-size: 20px;
	text-decoration:none;
}
.pages li:first-child {
	border-bottom:  none;
}
.pages li:last-child {
	border-bottom: none;
}
.pages li:hover {
	color: gray;
	border-bottom: 3px solid gray;
}
.pages li a:hover {
	color: gray;
}
/* COMMENT STREAM */

.entry {
	position: relative;
	display: block;
	height: auto;
	clear: both;
}
.avatar {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.comment {
	display: inline-block;
	vertical-align: top;
}
time {
	font-size: 10px;
	color: #a6a6a6;
}













